.container{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.about {
   margin: 4em 0;
   padding: 1em;
   position: relative;
}

 h1 {
   color: #F97300;
   margin: 2em;
}

 img {
   height: 100%;
   width: 100%;
   border-radius: 50%;
   align: center;
}

 span {
   display: block;
   color: #10828C;
   left: 115px;
}

.img-container{
   display: flex;
   flex-direction: column;
   align-items: center;
}

 .desc {
   padding: 2em;
   border-left: 4px solid #10828C;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

 .desc h3 {
   font-size: 30px;
   font-weight: 600;
   color: #F97300;
}

 .desc p {
   font-size: 20px;
   line-height: 2;
   color: #888;
}